SummitADF_Examples1221/SDO_WSClient/src/oracle/summit/model/sdo/service/common/EmpViewSDO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="/oracle/summit/model/sdo/views/common/" xmlns:sdoJava="commonj.sdo/java" sdoJava:package="oracle.summit.model.sdo.views.common" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" xmlns="/oracle/summit/model/sdo/views/common/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
  <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
  <xsd:complexType name="EmpViewSDO">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>Id</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
      <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Userid" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Email" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="StartDate" nillable="true" type="ns0:date-Date"/>
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ManagerId" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TitleId" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="DeptId" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Salary" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CommissionPct" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Id1" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RegionId" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmpView" type="EmpViewSDO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="empViewSDO" type="EmpViewSDO"/>
</xsd:schema>