SummitADF_Examples1221/SDO_WSClient/src/oracle/summit/model/sdo/service/common/HRAppModuleService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema elementFormDefault="qualified" targetNamespace="/oracle/summit/model/sdo/service/common/types/" xmlns:ns0="/oracle/summit/model/sdo/views/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="/oracle/summit/model/sdo/service/common/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <import namespace="/oracle/summit/model/sdo/views/common/" schemaLocation="EmpViewSDO.xsd"/>
  <import namespace="/oracle/summit/model/sdo/views/common/" schemaLocation="DeptViewSDO.xsd"/>
  <element name="getDeptView1">
    <complexType>
      <sequence>
        <element name="id" type="int"/>
      </sequence>
    </complexType>
  </element>
  <element name="getDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createDeptView1">
    <complexType>
      <sequence>
        <element name="deptView1" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateDeptView1">
    <complexType>
      <sequence>
        <element name="deptView1" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteDeptView1">
    <complexType>
      <sequence>
        <element name="deptView1" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteDeptView1Response">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="mergeDeptView1">
    <complexType>
      <sequence>
        <element name="deptView1" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findDeptView1">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findDeptView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="processDeptView1">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string"/>
        <element maxOccurs="unbounded" minOccurs="0" name="deptView1" type="ns0:DeptViewSDO"/>
        <element name="processControl" type="ns1:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processDeptView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:DeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="getEmpView1">
    <complexType>
      <sequence>
        <element name="id" type="int"/>
      </sequence>
    </complexType>
  </element>
  <element name="getEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createEmpView1">
    <complexType>
      <sequence>
        <element name="empView1" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateEmpView1">
    <complexType>
      <sequence>
        <element name="empView1" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteEmpView1">
    <complexType>
      <sequence>
        <element name="empView1" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteEmpView1Response">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="mergeEmpView1">
    <complexType>
      <sequence>
        <element name="empView1" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findEmpView1">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findEmpView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findEmpView1ByDeptVC">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="bv_dName" type="string"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findEmpView1ByDeptVCResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="processEmpView1">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string"/>
        <element maxOccurs="unbounded" minOccurs="0" name="empView1" type="ns0:EmpViewSDO"/>
        <element name="processControl" type="ns1:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processEmpView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:EmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
</schema>