SummitADF_Examples1221/PolymorphicVO_WSClient/src/com/oracle/xmlns/apps/hr/service/AppModuleService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hr/service/types/" xmlns:ns0="/oracle/summit/model/polymorphicvo/views/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="http://xmlns.oracle.com/apps/hr/service/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <import namespace="/oracle/summit/model/polymorphicvo/views/common/" schemaLocation="SalespersonViewExSDO.xsd"/>
  <import namespace="/oracle/summit/model/polymorphicvo/views/common/" schemaLocation="SDeptViewSDO.xsd"/>
  <import namespace="/oracle/summit/model/polymorphicvo/views/common/" schemaLocation="SEmpViewSDO.xsd"/>
  <element name="getSDeptView1">
    <complexType>
      <sequence>
        <element name="id" type="int"/>
      </sequence>
    </complexType>
  </element>
  <element name="getSDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createSDeptView1">
    <complexType>
      <sequence>
        <element name="sDeptView1" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createSDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateSDeptView1">
    <complexType>
      <sequence>
        <element name="sDeptView1" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateSDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteSDeptView1">
    <complexType>
      <sequence>
        <element name="sDeptView1" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteSDeptView1Response">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="mergeSDeptView1">
    <complexType>
      <sequence>
        <element name="sDeptView1" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeSDeptView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findSDeptView1">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findSDeptView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="processSDeptView1">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string"/>
        <element maxOccurs="unbounded" minOccurs="0" name="sDeptView1" type="ns0:SDeptViewSDO"/>
        <element name="processControl" type="ns1:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processSDeptView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:SDeptViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="getSEmpView1">
    <complexType>
      <sequence>
        <element name="id" type="int"/>
      </sequence>
    </complexType>
  </element>
  <element name="getSEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createSEmpView1">
    <complexType>
      <sequence>
        <element name="sEmpView1" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createSEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateSEmpView1">
    <complexType>
      <sequence>
        <element name="sEmpView1" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateSEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteSEmpView1">
    <complexType>
      <sequence>
        <element name="sEmpView1" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteSEmpView1Response">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="mergeSEmpView1">
    <complexType>
      <sequence>
        <element name="sEmpView1" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeSEmpView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findSEmpView1">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findSEmpView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findSEmpView1ByDept">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="bv_dName" type="string"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findSEmpView1ByDeptResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="processSEmpView1">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string"/>
        <element maxOccurs="unbounded" minOccurs="0" name="sEmpView1" type="ns0:SEmpViewSDO"/>
        <element name="processControl" type="ns1:ProcessControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="processSEmpView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:SEmpViewSDO"/>
      </sequence>
    </complexType>
  </element>
</schema>