SummitADF_Examples1221/Model/src/oracle/summit/model/amservice/common/serviceinterface/ServiceAppModuleService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/oracle/summit/model/amservice/common/types/"
     xmlns:tns="/oracle/summit/model/amservice/common/types/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="/oracle/summit/model/amservice/common/">
    <import namespace="/oracle/summit/model/amservice/common/" schemaLocation="../OrdersViewSDO.xsd"/>
    <import namespace="/oracle/summit/model/amservice/common/" schemaLocation="../CustomersViewSDO.xsd"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd"/>
    <element name="createCustomersView">
        <complexType>
            <sequence>
                <element name="customersView" type="ns1:CustomersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="createCustomersViewResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:CustomersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateCustomersView">
        <complexType>
            <sequence>
                <element name="customersView" type="ns1:CustomersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateCustomersViewResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:CustomersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteCustomersView">
        <complexType>
            <sequence>
                <element name="customersView" type="ns1:CustomersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteCustomersViewResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeCustomersView">
        <complexType>
            <sequence>
                <element name="customersView" type="ns1:CustomersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeCustomersViewResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:CustomersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="createOrdersView">
        <complexType>
            <sequence>
                <element name="ordersView" type="ns1:OrdersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="createOrdersViewResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:OrdersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateOrdersView">
        <complexType>
            <sequence>
                <element name="ordersView" type="ns1:OrdersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateOrdersViewResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:OrdersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteOrdersView">
        <complexType>
            <sequence>
                <element name="ordersView" type="ns1:OrdersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteOrdersViewResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeOrdersView">
        <complexType>
            <sequence>
                <element name="ordersView" type="ns1:OrdersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeOrdersViewResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:OrdersViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDfltCtrlHints">
        <complexType>
            <sequence>
                <element name="viewName" type="string"/>
                <element name="localeName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDfltCtrlHintsResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:AttrCtrlHints" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="findOrdersViewOrdersViewCriteria">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="OrdId" type="string"/>
                <element name="findControl" type="ns0:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findOrdersViewOrdersViewCriteriaResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:OrdersViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
</schema>
